
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9d9898;
    color: #333;
}

.contenedor {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

.navbar {
    background-color: #333;
}


.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-list li {
    display: inline;
}

.navbar-link {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease;
}

.navbar-link:hover {
    background-color: #666;
}

.datos {
    background-color: #f8eded;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.datos h2 {
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.navbar-dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #333;
    list-style-type: none;
    padding: 0;
}

.navbar-dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    display: block;
}

.dropdown-menu li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background-color: #666;
}

